body {
    background: red;
    margin: 0;
    padding: 0;
}
.main {
    width: 900px;
    height: 1500px;
    background: white;
    margin: 0 auto 0 auto;
}
.logo {
    width: 180px;
    height: 100px;
    margin: 20px 0 0 20px;
}
header {
    background: white;
    width: 900px;
    height: 100;
}
nav {
    width: 600px;
    height: 100px;
    float: right;
}
.navigacija {
    width: 600px;
    height: 100px;
    margin: 0;
    padding: 0;
    list-style: none;

}
.navigacija li{
    float: left;
    margin: 0 20px 0 0;
    margin: 40px 40px 0 0;
}

.navigacija li a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Arial;

    }
.navigacija li a:hover {
        color: red;
        text-decoration: underline;
        margin: 5px 0 0 0;
        display: block;
}    
.slider {
    width: 900px;
    height: 500px;
}
.slider img {
    width: 900px;
    height: 500px;
}
.proizvodi {
    width: 900px;
    height: 350px;
}

.tri-proizvodi {
    width: 900px;
    height: 349px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid black;
}

.tri-proizvodi li {
    width: 299px;
    height: 350px;
    float: left;
    border-right: 1px solid black;
}

.tri-proizvodi li:last-child {
    border: 0;
}

.tri-proizvodi li img {
    margin: 10px 86px 0 86px;

}
.tri-proizvodi li p {
    font-size: 14px;
    font-family: Arial;
    color: black;
    line-height: 24px;
    text-align: center;
}
.tri-proizvodi li a {
    display: block;
    width: 150px;
    height: 31px;
    background: blue;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    text-decoration: none;
    padding:  9px 0 0 0;
    border-radius: 10px;
    margin: 0 75px 0 75px;
}
.tri-proizvodi li a:hover {
    color: black;
    background: yellow;

}
.tri-proizvodi li:hover {
    background: rgba(0, 0, 0, .1);
}
.tri-proizvodi li:hover img {
    opacity: .5;
}
.testimonials {
    width: 900px;
    height: 350px;
    background-color: gray;
    color: white;
}
.testimonials h1{
    padding: 0;
    margin: 50px 0 20px 0;
    text-align: center;
    font-family: Arial;
    float: left;
    padding: 0 150px;
}
.ime-prezime {
    width: 450px;
    height: 100px;
    font-family: Arial;
    margin: 0 auto;
}
.ime-prezime img {
    width: 80px;
    height: 80px;
    border-radius: 45px;
    border: 5px solid gray;
    float: left;
    margin: 5px 30px 0 30px;
}
.ime-prezime h3 {
    margin: 20px 0 0 0 ;
    padding: 0;
    font-size: 30px;
    font-family: Arial;
    float: left;
}
.ime-prezime span {
    /*width: 150px;*/
    height: 50px;
    float: left;
}
